*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:95%;
max-width:450px;
height:90vh;
background:#1e293b;
border-radius:20px;
display:flex;
flex-direction:column;
overflow:hidden;
box-shadow:0 0 25px rgba(0,0,0,.4);
}

.header{
background:#06b6d4;
padding:20px;
text-align:center;
color:white;
}

#chat{
flex:1;
padding:15px;
overflow-y:auto;
color:white;
}

.inputBox{
display:flex;
padding:15px;
gap:10px;
background:#111827;
}

input{
flex:1;
padding:12px;
border:none;
border-radius:10px;
background:#374151;
color:white;
outline:none;
}

button{
padding:12px 20px;
border:none;
border-radius:10px;
background:#06b6d4;
font-weight:bold;
cursor:pointer;
}
